
<div class="card rounded shadow-sm p-3">

  <div class="d-flex">
    <div class="mb-2">
      <a class="d-flex btn btn-outline-primary" routerLink="/rotas/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Nova Rota</b>
      </a>
    </div>
    </div>
  <!-- <h3>Filtro: {{filtroLista}}</h3> -->
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
      <th>#</th>
      <th>Origem</th>
      <th class="d-none d-md-table-cell">Destino</th>
      <th class="d-none d-md-table-cell">Valor</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="rotas && rotas.length">
    <tr *ngFor="let rota of rotas" (click)="detalheRota(rota.id)" style="cursor: pointer;">
      <td>{{rota.id}}</td>
      <td>{{rota.origem}}</td>
      <td class="d-none d-md-table-cell">{{rota.destino}}</td>
      <td class="d-none d-md-table-cell">{{rota.valor | currency: 'R$' }}</td>
      <td>
        <button type="button" class="btn btn-danger btn-xs" tooltip="Excluir" (click)="openModal($event, template, rota.id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!rotas.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhuma rota encontrada!</h4>
      </td>
    </tr>
  </tfoot>
</table>

</div>

<!-- {{rotas | json}} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja realmente deletar a Rota Id = {{this.rotaId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
